.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 80%;
    border-radius: 10px;
}
.about h2{
    font-weight: 16px;
    font-weight: 1000;
    color: rgb(44, 44, 44);
}
.about h3{
    font-weight: 15px;
    font-weight: 800;
    color: rgb(92, 91, 91);
}
.about p{
    margin-bottom: 15px;
    color: black;
}

.about ul li{
    list-style: none;
    margin: 5px 20px;
    font-size: 14px;
    color: rgb(253, 65, 65);
    font-weight: 600;
    list-style-type: disc;
}

